name: 'CI'

on:
  push:
    branches: [ 'master' ]
  pull_request:
    branches: [ 'master' ]
    types: [ 'opened', 'synchronize', 'reopened' ]

jobs:
  ci:
    name: 'Build image'
    runs-on: [ 'ubuntu-latest' ]
    steps:
      - name: 'Checkout repository'
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: 'Set up Docker Buildx'
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0
      - name: 'Build Docker image'
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: .
          file: custom-image/Dockerfile
          push: false
          build-args: |
            IMG_VERSION=CI_VERSION
