name: 'Release'

on:
  push:
    branches: [ 'master' ]

permissions:
  contents: read
  packages: write
  issues: write
  pull-requests: write

jobs:
  release-please:
    name: 'Release-Please'
    runs-on: [ 'ubuntu-latest' ]
    outputs:
      releases_created: ${{ steps.run-release-please.outputs.releases_created }}
      tag_name: ${{ steps.run-release-please.outputs.tag_name }}
      version: ${{ steps.run-release-please.outputs.version }}
    steps:
      - name: 'Generate App Token'
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        id: generate-token
        with:
          app-id: ${{ secrets.DEV_APP_ID}}
          private-key: ${{ secrets.DEV_APP_PRIVATE_KEY }}
      - name: 'Run release-please'
        uses: googleapis/release-please-action@16a9c90856f42705d54a6fda1823352bdc62cf38 # v4.4.0
        id: run-release-please
        with:
          token: ${{ steps.generate-token.outputs.token }}
          config-file: .github/release-please-config.json
          manifest-file: .github/.release-please-manifest.json
      - name: 'Echo json'
        run: echo "$OUTPUTS"
        shell: bash
        env:
          OUTPUTS: ${{ toJSON(steps.run-release-please.outputs) }}

  release-image:
    if: ${{ needs.release-please.outputs.releases_created == 'true' }}
    needs: 'release-please'
    name: 'Release Docker Image'
    runs-on: [ 'ubuntu-latest' ]
    steps:
      - name: 'Checkout repository'
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: 'Set up Docker Buildx'
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1
      - name: 'Log in to GitHub Container Registry'
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: 'Get lowercase repository'  # Owner/Repo -> owner/repo
        run: echo "repository_lowercase=${GITHUB_REPOSITORY@L}" >> "${GITHUB_ENV}"
      - name: 'Build and push Docker image'
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: .
          file: custom-image/Dockerfile
          push: true
          tags: |
            ghcr.io/${{ env.repository_lowercase }}/custom-action-runner:latest
            ghcr.io/${{ env.repository_lowercase }}/custom-action-runner:${{ needs.release-please.outputs.version }}
          build-args: |
            IMG_VERSION=${{ needs.release-please.outputs.version }}